
/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* BODY */
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
}

/* CARD */
.card {
    width: 300px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    overflow: hidden;
    transition: transform 0.3s;
}

.card:hover {
    transform: scale(1.05);
}

/* IMAGE */
.card img {
    width: 100%;
    height: 250px;
}

/* CONTENT */
.card-content {
    padding: 15px;
    text-align: center;
}

.card-content h2 {
    margin-bottom: 10px;
}

.description {
    font-size: 14px;
    color: #555;
    margin-bottom: 10px;
}

/* PRICE */
.price {
    font-size: 20px;
    font-weight: bold;
    color: green;
    margin-bottom: 15px;
}

/* BUTTON */
button {
    padding: 10px 20px;
    background-color: #ff9f00;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-color: #fb8c00;
}
