body {
  font-family: Arial;
  margin: 0;
  text-align: center;
}

header {
  background: pink;
  padding: 20px;
}

nav {
  background: black;
  padding: 10px;
}

nav a {
  color: white;
  margin: 10px;
  text-decoration: none;
}

.products {
  display: flex;
  justify-content: center;
}

.card {
  border: 1px solid #ccc;
  padding: 15px;
  margin: 15px;
  width: 180px;
}

.card:hover {
  background: #f2f2f2;
}

footer {
  background: black;
  color: white;
  padding: 10px;
}
